:root {
    --header-bg-color: #20262E;
    --vertical-margin: 3vw;
}
body{
    margin: 0;
    background-image: url('./images/albert-YYZU0Lo1uXE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    color: white;
}


header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--header-bg-color);
    padding-left: var(--vertical-margin);
    padding-right: var(--vertical-margin);
}

.header-buttons{
    display: flex;
    gap: var(--vertical-margin);
    flex-grow: 1;
    justify-content: flex-end;
    
}

button{
    border: none;
    font-size: x-large;
    background:none;
    cursor: pointer;
    color: white;
}

#content{
    text-align: center;
    width: 70vw;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}